body {
  text-align: center;
}

img {
  height: 500px;
  width: 450px;
  border: 2px solid orange;
  border-radius: 6px;
  padding: 3px;
}

#cat-list {
  color: black;
  text-shadow: 2px 2px gray;
}

h1, #cat-name, #cat-count {
  color: black;
  text-shadow: 2px 2px orange;
}
